In [2]:
import sqlite3

In [4]:
connection = sqlite3.connect('example.db')
connection

In [ ]:
## Create a cursor object to interact with the database.
cursor = connection.cursor()
cursor.execute('''CREATE TABLE IF NOT EXISTS users
               (id INTEGER PRIMARY KEY, 
               name TEXT, age INTEGER)''')
connection.commit()

In [ ]:
## Insert a new user into the 'users' table.
cursor.execute("INSERT INTO users (name, age) VALUES (?, ?)", ("Alice", 30))
connection.commit()

In [ ]:
##Query the database to retrieve all records from the 'users' table.
cursor.execute("select * from users")

In [15]:
## Query the database to retrieve all records from the 'users' table and display the results.
results = cursor.fetchall()
for row in results:
    print(row)

(1, 'Alice', 30)

In [21]:
##Update a user's age in the 'users' table.
cursor.execute("UPDATE users SET age = ? WHERE name = ?", (38, "Alice"))
connection.commit()
cursor.execute("select * from users")
results = cursor.fetchall()
for row in results:
    print(row)

(1, 'Alice', 38)

In [23]:
##Delete a user from the 'users' table.
cursor.execute("DELETE FROM users WHERE name = ?", ("Alice",))
connection.commit() 
cursor.execute("select * from users")
results = cursor.fetchall()
for row in results:
    print(row)

In [24]:
##insert multiple users into the 'users' table.
users = [("Bob", 25), ("Charlie", 35), ("Diana", 28)]
cursor.executemany("INSERT INTO users (name, age) VALUES (?, ?)", users) 
connection.commit()
cursor.execute("select * from users")
results = cursor.fetchall() 
for row in results:
    print(row)

(1, 'Bob', 25)
(2, 'Charlie', 35)
(3, 'Diana', 28)

In [25]:
connection.close()